DATABASE_URL=postgresql://manicrm:manicrm@localhost:5432/manicrm

# Generate with: openssl rand -hex 32
BETTER_AUTH_SECRET=5413f3946258781b84ad1d32d1dfa0741ff6946e809c727d2826e40df676fa44
BETTER_AUTH_URL=http://localhost:3000

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

PORT=3000
CORS_ORIGIN=http://localhost:5173
